html {
    background: #cfcfcf;
}

.products {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
}

.product {
    float: left;
    position: relative;
    width: 300px;
    max-width: 33.3333%;
    padding: 10px;
}

.product img {
    width: 100%;
}

.hidden {
    display: none;
}

.cart {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #ff0000;
    color: #fff;
    padding: 10px;
}
.cart table {
    border-collapse: collapse;
}
.cart td {
    padding: 10px;
    border: 1px solid #fff;
}