html {
    background: #cfcfcf;
}

table {
    border-collapse: collapse;
    background: #fff;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid maroon;
    font-size: 23px;
    text-align: center;
}

table tr:nth-child(2n+1) td:nth-child(2n),
table tr:nth-child(2n) td:nth-child(2n+1) {
    background: #cc8666;
}
table tr:first-child td,
table tr td:first-child {
    background: #cfcfcf !important;
    border: none;
}